@font-face {
  font-family: 'america';
  src: url('./assets/fonts/GT-America-Standard-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quarto';
  src: url('./assets/fonts/Quarto-Light.otf');
  font-weight: normal;
  font-style: normal;
}